
block content

form(role='form' , action='/' , method='post')
    div.row
        h5 Step1. 본인인증
        </br></br></br></br></br></br>

    div.row
        h5 Step2. 기본정보
        // 성별정보
        div.col-lg-4.col-md-4.col-xs-4.col-sm-4.basic-info-select
            div 성별&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select1', name='sex-type', value='male', checked='true')
                label(for='basic-info-select1') 남&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select2', name='sex-type', value='female', checked='true')
                label(for='basic-info-select2') 여
        // 군필여부
        div.col-lg-4.col-md-4.col-xs-4.col-sm-4.basic-info-select
            div 군필여부&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select3', name='army_type', value='finished', checked='true')
                label(for='basic-info-select3') 군필&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select4', name='army_type', value='unfinished', checked='true')
                label(for='basic-info-select4') 미필
        // 졸업여부
        div.col-lg-4.col-md-4.col-xs-4.col-sm-4.basic-info-select
            div 졸업여부&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select5', name='graduate_type', value='ungraduate', checked='true')
                label(for='basic-info-select5') 재학&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select6', name='graduate_type', value='resume', checked='true')
                label(for='basic-info-select6') 휴학&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select7', name='graduate_type', value='graduate', checked='true')
                label(for='basic-info-select7') 졸업
        </br></br>

        // 소득여부
        div.col-lg-4.col-md-4.col-xs-4.col-sm-4.basic-info-select
            div 소득여부&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select8', name='income_type', value='yes', checked='true')
                label(for='basic-info-select8') 있음&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select9', name='income_type', value='no', checked='true')
                label(for='basic-info-select9') 없음
        // 소득형태
        div.col-lg-4.col-md-4.col-xs-4.col-sm-4.basic-info-select
            div 소득형태&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select10', name='work_type', value='regular', checked='true')
                label(for='basic-info-select10') 정규직&nbsp&nbsp&nbsp&nbsp
                input(type='radio', id='basic-info-select11', name='work_type', value='unregular', checked='true')
                label(for='basic-info-select11') 비정규직
        // 소득금액
        div.col-lg-4.col-md-4.col-xs-4.col-sm-4.basic-info-select
            div 소득금액&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                input(type='text', id='inputIncome', name='Income', placeholder='예) 1000000', required='true',
                data-error='금액을 입력해주세요.').
                label(for='income') 원

        br
        br
        input#sample4_postcode(type='text', placeholder='우편번호')
        input(type='button', onclick='sample4_execDaumPostcode()', value='우편번호 찾기')
        br
        input#sample4_roadAddress(type='text', placeholder='도로명주소')
        input#sample4_jibunAddress(type='text', placeholder='지번주소')
        span#guide(style='color:#999')
        script(src='http://dmaps.daum.net/map_js_init/postcode.v2.js')
        script.
            function sample4_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                        // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                        var extraRoadAddr = ''; // 도로명 조합형 주소 변수
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraRoadAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraRoadAddr !== ''){
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                        }
                        // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                        if(fullRoadAddr !== ''){
                            fullRoadAddr += extraRoadAddr;
                        }
                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample4_postcode').value = data.zonecode; //5자리 새우편번호 사용
                        document.getElementById('sample4_roadAddress').value = fullRoadAddr;
                        document.getElementById('sample4_jibunAddress').value = data.jibunAddress;
                        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                        if(data.autoRoadAddress) {
                            //예상되는 도로명 주소에 조합형 주소를 추가한다.
                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                            document.getElementById('guide').innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        } else if(data.autoJibunAddress) {
                            var expJibunAddr = data.autoJibunAddress;
                            document.getElementById('guide').innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        } else {
                            document.getElementById('guide').innerHTML = '';
                        }
                    }
                }).open();
            }


    </br></br></br>
    div.row
        h5 Step3. 학력정보

    div.row
        h5 Step4. 기대출정보

    div.container-fluid
        input(type='submit', value='다음 단계로', id='credit_next').col-lg-4.col-md-4.col-sm-4.col-xs-4.ajax-post





