extends layout

block content
  link(rel='stylesheet', href='/stylesheets/email_check.css')
  .container
    .emailAuthBox
      h4 회원가입 - 이메일 인증
      p #{userEmail}
      .emailCheckContent
        p 위의 주소로 인증 메일을 보냈습니다. 인증 메일에 있는 메일 인증 링크를 클릭하시면 캠퍼스뱅크에 가입이 완료됩니다. 만약 10분이 지나도 메일이 도착하지 않으면 '인증 메일 재발송' 버튼을 눌러 인증 메일을 다시 받으세요.
      form(action='/emailAgain', method='post')
        input(type='hidden', value='#{userEmail}')
        input(type='submit', value='인증 메일 재발송')