
block content
  h4 서비스소개
  div.row.intro-row
    .col-md-4
      img(src='/images/008.png').intro-image
    div.col-md-8
      p 캠퍼스뱅크는 유망한 대학생들에게 합리적인 금리를 제공합니다.
      p 캠퍼스뱅크는 대학생들의 현재가 아닌 미래를 평가합니다.
      p 데이터 분석을 통해 보다 정확하게 대학생들의 미래소득을 예측하여 신용을 평가합니다.
      p 캠퍼스뱅크는 신용평가 결과를 통해 최저 5.4%로 은행 수준의 저금리를 제공합니다.
  div.row.intro-row
    img(src='/images/009.png').intro-image
    div.intro-row-para
      p 캠퍼스뱅크는 신용도에 영향을 주지 않습니다.
      p 캠퍼스뱅크는 독자적인 신용평가 시스템을 사용합니다.
      p 대출 상담은 신용등급에 전혀 영향을 미치지 않습니다.
      p 고객의 신용정보와 대출이력은 외부에 공개되지 않습니다.
  div.row.intro-row
    img(src='/images/010.png').intro-image
    div.intro-row-para
      p 캠퍼스뱅크의 투자자는 여러분의 선배님입니다.
      p 후배들의 무한한 가능성에 투자하고 싶은 많은 선배님들이 있습니다.
      p 캠퍼스뱅크의 투자자는 곧 여러분의 미래입니다.
      p 여러분의 꿈`을 이루는데 캠퍼스뱅크와 투자자들이 힘이 되어 드리겠습니다.