
body{
  margin:0px;
  font-family: 'Roboto Condensed', 'Nanum Gothic', sans-serif;
  font-size: 15px;
  background-color: #f3f1ea;
  overflow-x: hidden;
}

body:after{
  content:"";
}

.icon-list{
  list-style:none;
  padding-left:0px;
  height:40px;
  margin-bottom:5px;
}

.icon-list li{
  display:inline-block;
  overflow:hidden;
  width:40px;
  height:40px;
}

.icon-list li:first-child{
  background-color: #ffae5a;
}

.icon-list li:nth-child(2){
  background-color: #ffae5a;
}

#comment-icon-hover{
  margin-left:5px;
  display:inline-block;
  text-align: center;
  font-size: 14px;
  color:white;
}

#question-icon-hover{
  margin-left:25px;
  display:inline-block;
  text-align:center;
  font-size: 14px;
  color:white;
}

#comment-icon{
  min-width:40px;
  background-color:#eb6000;
}
#comment-icon i{
  color: #f7f3ea;
  font-weight:bold;
}

#question-icon{
  min-width:40px;
  background-color: #ff9346;
}
#question-icon i{
  color:#f7f3ea;
  font-weight:bold;
}
.stage{
  margin-left:auto;
  margin-right:auto;
  width:1100px;
}

a{
  cursor:pointer;
}

.header-company p{
  font-weight: 700;
  color: #666666;
  text-align: center;
  margin-bottom:0px;
  height:40px;
  line-height:40px;
}

.header-company{
  width:1100px;
  margin-bottom:5px;
  overflow:hidden;
}

.rightAssign{
  float:right;
}

#join{
  width:auto;
}

#join:hover span{
  color:#337ab7
}

#login{
  width:auto;
  background-color:white;
  font-weight: 700;
  border:none;
  outline:none;
  padding: 0 15px 0 15px;
  color:#444444;
}

#login:hover{
  color:#337ab7
}

#modal-login .modal-dialog{
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

#modal-login .modal-content{
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

#modal-login .modal-header{
  background-color:#eb6000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom:20px;
}

#modal-login .modal-header h4{
  text-align:center;
  color:white;
  font-weight:600;
  font-size:16px;
}

#modal-login input[type='submit']{
  background-color:#eb6000;
  color:white;
  font-weight:600;
  border:none;
  margin-bottom:10px;
}

#modal-login input{
  width:100%;
}

#modal-login .icon-div{
  text-align:center;
  padding:0px;
  display:inline-block;
  width:12%;
  height:40px;
  margin-bottom: 20px;
  background-color:#676056;
}

#modal-login .input-div{
  display:inline-block;
  width:88%;
  height:40px;
}

#modal-login .input-div input{
  height:40px;
  border:none;
  font-size:16px;
  text-indent:10px;
  background-color: #f7f3ea;
}

#modal-login .fa-user{
  color:#f7f3ea;
}

#modal-login .fa-lock{
  color:#f7f3ea;
}

header a:hover{
  color:white;
  text-decoration: none;
}

header a{
  min-width:100px;
  height: 40px;
  float:left;
  color:#dddddd;
  font-weight:700;
  text-align: center;
  vertical-align: middle;
}

header a span{
  padding: 11px 14px 6px 14px;
  color: #444444;
}

header{
  height:40px;
  line-height:40px;
  background-color: white;
  margin-bottom:5px;
  /*background-color:#F67318;*/
}

#content-container h4{
  margin:0px;
  margin-bottom: 30px;
  height:80px;
  line-height: 80px;
  text-align: center;
  border-bottom: solid 1px #cccccc;
  font-weight: 600;
}


#content-container form{
  padding-left: 40px;
  padding-right:40px;
}

#content-container{
  min-height:1000px;
  padding:0px 15px 0px 15px;
  background-color: white;
  clear:both;
}

#content-container label{
  font-size: 14px;
}

#content-container .form-group{
  height:34px;
}

.fill-in-form{
  display:block;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fill-in-form:focus{
  border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#content-container p.step-para{
  font-size: 18px;
  padding-bottom:15px;
  border-bottom: solid 1px #cccccc;
  margin-bottom: 20px;
}

#content-container .help-block.with-errors{
  font-size:12px;
}

#content-container .fill-in-form:focus{
  border: solid 2px #66afe9;
  outline:none;
}

#content-container .has-error .fill-in-form{
  border: solid 1px #a94442;
  outline:none;
}

#content-container .has-error .fill-in-form:focus{
  border: solid 2px #a94442;
  outline:none;
}

#content-container input{
  border-radius: 5px;
  border:solid 1px #ccc;
}



#loan-lend-switch{
  max-width:150px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0px;
  background-color: #f3f1ea;
  margin-left:5px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -200px;
}

/* Sidebar Styles */

li ul{
  padding-left: 0px;
  display:none;
}

li.nav-list li.sub-li{
  font-size:14px;

}

li.nav-list li.sub-li a{
  padding-left:15px;
}

li.open-list ul{
  display:block;
}

li.open-list ul li a{
  border:none;
}

li.open-list a.overEB6000{
  border-left: solid 5px #eb6000;
}

li.open-list a.overFFAE5A{
  border-left: solid 5px #ffae5a;
}

li.open-list ul a{
  background-color: white;
  color:black;
}

li.open-list li{
}

.open-list .selected-sub-list{
  background-color:#002b57;
}

.open-list .selected-sub-list a{
  background-color: #002b57;
  color:white;
}

.open-list .selected-sub-list a:hover{
  color:white;
}

#sidebar-bottom{
  width:100%;
  color:#444444;
  font-weight:bold;
  text-align: center;
  margin-top:50px;
}

.sidebar-nav {
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sub-li{
  line-height:40px;
}

.sidebar-nav li {
  list-style: none;
  text-indent: 20px;
  line-height: 55px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #444444;
  font-weight:600;
}

.nav-list a img{
  margin-left:10px;
  margin-right: 20px;
  width: 35px;
  height: 35px;
}

.sidebar-nav li a:hover.overEB6000{
  text-decoration: none;
  color: black;
  border-left: solid 5px #eb6000;
}

.sidebar-nav li a:hover.overFFAE5A{
  text-decoration: none;
  color: black;
  border-left: solid 5px #ffAE5A;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  text-indent: 0px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 200px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 200px;
    overflow-x:hidden;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    background-color: #f3f1ea;
    padding: 0px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  #loan-lend-switch{
    clear:both;
  }
}

ul.loan-month-parent{
  padding:0px;
  margin:0px;
}

li.loan-month-element1, li.loan-month-element2{
  width:16px;
  height:16px;
  border-radius:8px;
  list-style-type:none;
  display:inline-block;
}

li.loan-month-element1{
  background-color: #eb6000;
}

li.loan-month-element2{
  background-color: #002b57;
}

li.loan-month-line {
  border-top: solid 1px #444444;
  width: 16px;
  height: 8px;
  list-style-type: none;
  display: inline-block;
}

.loan-card .loan-card-content{
  width:180px;
  height:270px;
  padding-left:10px;
  padding-right:10px;
}
.loan-card .loan-card-div1{
  height:38px;
  line-height:38px;
  border-bottom:solid 2px #444444;
}

.loan-card .loan-card-div1-1{
  padding-right:0px;
  padding-left:10px;
}

.loan-card .loan-card-div1-2{
  padding-right:10px;
}

.loan-card .loan-card-div2{
  font-weight:600;
  font-size:30px;
  height:78px;
  line-height:78px;
  text-align:center;
  border-bottom:solid 2px #cccccc;
}

.loan-card .loan-card-div3{
  height:38px;
  line-height:38px;
  border-bottom: solid 2px #444444;
  text-align: center;
}

.loan-card .loan-card-div4{
  height:38px;
  line-height:38px;
  border-bottom: solid 2px #cccccc;
  text-align:center;
}

#content-container .loan-card .loan-card-div5-1 .loan-card-credit{
  padding:0px;
  font-size:40px;
  text-align:center;
  margin:0px;
}

#content-container .loan-card .loan-card-div5-1{
  padding:0px;
}

.loan-card-div5-2{
  padding-top:10px;
}

#content-container .loan-card-div5-2 .loan-card-schoolinfo{
  text-align:center;
  font-size:14px;
  font-weight:600;
  margin-bottom:0px;
}

#content-container .loan-card-div5-2 .loan-card-schoolinfo.major{
  font-size:12px;
}

.loan-card .loan-card-div6{
  margin-left:-10px;
  width:180px;
  background-color:#dbc4c7;
}

.loan-card .loan-card-div6 .loan-card-div6-1{
  width:70%;
  background-color:#721823;
  text-align:center;
  color: white;
}

.loan-card .loan-card-div6 .loan-card-progress{
  color:white;
  z-index:4;
}

.loan-card{
  font-size:12px;
  width:180px;
  display:inline-block;
  margin-right:20px;
}

.loan-card .loan-card-img{
  position:absolute;
  width:180px;
  height:auto;
  z-index:2;
}

.loan-card-div5{
  overflow:auto;
}

.loan-card .loan-card-div1-1, .loan-card .loan-card-div1-2, .loan-card .loan-card-div5-1, .loan-card .loan-card-div5-2{
  display:inline-block;
}

#content-container .credit_eval{
  position: absolute;
  left:0px;
  right:0px;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  height:50px;
  border-radius: 20px;
  background-color: #eb6000;
  color:white;
  font-weight:bold;
  font-size:18px;
  outline:none;
}

#content-container .basic-info-select{
  height:40px;
  text-align: left;
  margin-bottom: 0px;
}

#content-container .basic-info-select label {
  font-size: 12px;
  font-weight: 200;
  color: black;
  margin-left: 5px;
}

#content-container .income_box{
  width:130px;
  height:30px;
}

#sample4_postcode, #sample4_jibunAddress, #detail-address{
  font-size: 14px;
}

#sample4_roadAddress, #button_roadAddress{
  font-size: 10px;
}

#content-container #sample4_roadAddress,#content-container #button_roadAddress{
  border:none;
}

#button_roadAddress{
  float:left;
  width:60px;
  text-align: center;
  background-color: #cccccc;
}

.basic-info-select td .row input{
  margin-bottom: 5px;
}

.basic-info-select td .row input{
  margin-right: 5px;
}

.basic-info-select th{
  text-indent: 10px;
}

#loan-card-container{
  display: inline-block;
}

.table-container{
  display:inline-block;
}