<div class="content-headered-item content-cart">
    <div class="header">
        <h1>장바구니</h1>
        <input class="form-control" type="text" value="" placeholder="검색" />
        <hr />
    </div>
    <div class="cart-list row">
        <div class="product-item list-item col-md-3 col-sm-6">
            <div class="item-content">
                <div class="desc">
                    <div class="row">
                        <div class="col-xs-6 field-price">1000만원</div>
                        <div class="col-xs-6 field-month">36개월</div>
                    </div>
                    <hr />
                    <div class="field-interest">
                        7.8%
                    </div>
                    <hr />
                    <div class="field-remaining-time">
                        남은 시간: 1일 2시간 56분
                    </div>
                    <hr />
                    <div class="field-purpose">
                        자취방 보증금
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="//placehold.it/40x60" alt="" style="width: 40px; height: 40px;" />
                        </div>
                        <div class="col-xs-8">
                            <div class="field-school">
                                서울대학교
                            </div>
                            <div class="field-major">
                                농경제생명공학
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v-progress-bar">
                    <div class="original-content">
                        50%
                    </div>
                    <div class="mask">
                        <div class="masked-content">
                            50%
                        </div>
                    </div>
                </div>
            </div>
            <div class="invest-form">
                <input class="input-field-amount form-control" type="number" placeholder="이 채권에 투자 할 금액" />
                <button class="btn-remove-item">삭제하기</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="row area-submit">
        <div class="col-sm-2">총 투자 금액</div>
        <div class="col-sm-5" style="text-align: right">1200000원</div>
        <div class="col-sm-5">
            <button class="btn-submit">투자하기</button>
        </div>
    </div>
</div>