<div class="content-product-detail">
    <div class="row">
        <div class="product-item col-md-4">
            <div class="item-content">
                <div class="desc">
                    <div class="row">
                        <div class="col-xs-6 field-price">1000만원</div>
                        <div class="col-xs-6 field-month">36개월</div>
                    </div>
                    <hr />
                    <div class="field-interest">
                        7.8%
                    </div>
                    <hr />
                    <div class="field-remaining-time">
                        남은 시간: 1일 2시간 56분
                    </div>
                    <hr />
                    <div class="field-purpose">
                        자취방 보증금
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="//placehold.it/40x60" alt="" style="width: 40px; height: 40px;" />
                        </div>
                        <div class="col-xs-8">
                            <div class="field-school">
                                서울대학교
                            </div>
                            <div class="field-major">
                                농경제생명공학
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v-progress-bar">
                    <div class="original-content">
                        50%
                    </div>
                    <div class="mask">
                        <div class="masked-content">
                            50%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="credit-detail">
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="row">
                            <div class="col-xs-6">신용등급</div>
                            <div class="col-xs-6 credit-grade" ng-class="item.creditGrade">A<sup>+</sup></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="row">
                            <div class="col-xs-6">취업 가능성</div>
                            <div class="col-xs-6">없음</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">학과 유망성</div>
                            <div class="col-xs-6">낮음</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">성실성</div>
                            <div class="col-xs-6">게으름</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">적극성</div>
                            <div class="col-xs-6">없다</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-6">예상 불량율</div>
                            <div class="col-xs-6">100%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invest-options">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-5">투자 옵션</div>
                            <div class="col-xs-7">
                                <select class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-5">투자 금액</div>
                            <div class="col-xs-7">
                                <input type="number" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-block btn-goto-cart">장바구니</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-block btn-submit-invest">투자하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-abstract">
        <h1>개요</h1>
        <hr>    
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">투자 금액</div>
                    <div class="col-xs-6">100원</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">이자율</div>
                    <div class="col-xs-6">1000000%</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">대출 기간</div>
                    <div class="col-xs-6">3일</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">연 이자 수익</div>
                    <div class="col-xs-6">1,000,000원</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">총 이자 수익</div>
                    <div class="col-xs-6">8220원</div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-purpose">
        <h1>목적</h1>
        <hr>
        <div class="row">
            <div class="col-xs-2">
               분류 
            </div>
            <div class="col-xs-10">
                분류없당
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                상세
            </div>
            <div class="col-xs-10">
                상세하게 자세하게 하하하
            </div>
        </div>
    </div>
    <div class="product-basicinfo">
        <h1>기본정보</h1>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">성별</div>
                    <div class="col-xs-6">남</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">군필여부</div>
                    <div class="col-xs-6">군필</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">졸업여부</div>
                    <div class="col-xs-6">재학</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">소득여부</div>
                    <div class="col-xs-6">없음</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">소득형태</div>
                    <div class="col-xs-6">없음</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">소득금액</div>
                    <div class="col-xs-6">0원</div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-preloan">
        <h1>기대출정보</h1>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">기존 대출 여부</div>
                    <div class="col-xs-6">있음</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">총 대출 잔액</div>
                    <div class="col-xs-6">10,000,000원</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-6">대출기관</div>
                    <div class="col-xs-6">한국은행</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-6">기관분류</div>
                    <div class="col-xs-6">제1금융권</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-6">대출목적</div>
                    <div class="col-xs-6">그냥</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-6">대출잔액</div>
                    <div class="col-xs-6">190,000원</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-6">대출기관</div>
                    <div class="col-xs-6">미국은행</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-6">기관분류</div>
                    <div class="col-xs-6">제1금융권</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-6">대출목적</div>
                    <div class="col-xs-6">그냥</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-xs-6">대출잔액</div>
                    <div class="col-xs-6">810,000원</div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-academic">
        <h1>학력정보</h1>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">소속학교</div>
                    <div class="col-xs-6">련새대학교</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">소속학과</div>
                    <div class="col-xs-6">조련학과</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">기타</div>
                    <div class="col-xs-6">쩝...</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">입학년도</div>
                    <div class="col-xs-6">2099년</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">이수 학기</div>
                    <div class="col-xs-6">13학기</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-6">학점</div>
                    <div class="col-xs-6">1.75/4.5</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12">어학성적</div>
            <div class="col-sm-1 col-xs-6">종류</div>
            <div class="col-sm-2 col-xs-6">TEPS</div>
            <div class="col-sm-1 col-xs-6">점수</div>
            <div class="col-sm-2 col-xs-6">990</div>
            <div class="col-sm-2 col-xs-6">유효기한</div>
            <div class="col-sm-2 col-xs-6">2100-12-29</div>            
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12">자격증</div>
            <div class="col-sm-1 col-xs-6">종류</div>
            <div class="col-sm-2 col-xs-6">정보처리기사</div>
            <div class="col-sm-1 col-xs-6">급수</div>
            <div class="col-sm-2 col-xs-6">1급</div>
            <div class="col-sm-2 col-xs-6">유효기한</div>
            <div class="col-sm-2 col-xs-6">2100-12-29</div>            
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12">인턴여부</div>
            <div class="col-sm-1 col-xs-6">있음</div>
            <div class="col-sm-1 col-xs-6">횟수</div>
            <div class="col-sm-1 col-xs-6">1회</div>
            <div class="col-sm-2 col-xs-6">기관명</div>
            <div class="col-sm-5 col-xs-6">유효기한</div>            
        </div>
    </div>
</div>