<div class="content-headered-item content-request-list">
    <div class="header">
        <h1>신청내역</h1>
        <input class="form-control" type="text" value="" placeholder="검색" />
        <hr />
    </div>
    <div class="row request-list">
        <div class="product-item col-md-4">
            <div class="item-content">
                <div class="desc">
                    <div class="row">
                        <div class="col-xs-6 field-price">1000만원</div>
                        <div class="col-xs-6 field-month">36개월</div>
                    </div>
                    <hr />
                    <div class="field-interest">
                        7.8%
                    </div>
                    <hr />
                    <div class="field-remaining-time">
                        남은 시간: 1일 2시간 56분
                    </div>
                    <hr />
                    <div class="field-purpose">
                        자취방 보증금
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="//placehold.it/40x60" alt="" style="width: 40px; height: 40px;" />
                        </div>
                        <div class="col-xs-8">
                            <div class="field-school">
                                서울대학교
                            </div>
                            <div class="field-major">
                                농경제생명공학
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v-progress-bar">
                    <div class="original-content">
                        50%
                    </div>
                    <div class="mask">
                        <div class="masked-content">
                            50%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="details">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-xs-6">
                                등록 번호
                            </label>
                            <div class="col-xs-6 field-item-id">
                                32A1234
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-xs-6">
                                등록 일자
                            </label>
                            <div class="col-xs-6 field-register-time">
                                2015-11-06
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-xs-6">
                                남은 모집 기간
                            </label>
                            <div class="col-xs-6 field-remaining-recruit-time">
                                3일
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-xs-6">
                                투자 달성 여부
                            </label>
                            <div class="col-xs-6 field-is-suceeded">
                                성공
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-xs-6">
                                입금 완료 여부
                            </label>
                            <div class="col-xs-6 field-deposit-finished">
                                미완료
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-xs-6">
                                투자 금액
                            </label>
                            <div class="col-xs-6 field-amount">
                                100원
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-6">
                        투자금 입금 잔여 시간
                    </label>
                    <div class="col-sm-6 field-remaining-deposit-time">
                        3시간
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3">
                        입금하실 계좌
                    </label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-4 field-bank-to-deposit">
                                하나은행
                            </div>
                            <div class="col-xs-8 field-account-to-deposit">
                                428-910632-79807
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3">
                        연결 계좌
                    </label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-4 field-bank-linked">
                                하나은행
                            </div>
                            <div class="col-xs-8 field-account-linked">
                                123-4564543-21234
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 8px">
                <div class="col-xs-6">
                    <button class="btn-change-account">계좌번호 수정</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn-profit-list">수익 내역</button>
                </div>
            </div>
        </div>
    </div>
</div>